.main_div{
    display: grid;
    gap: 1em;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
}
h1{
    text-align: center;
}

div.parent{
    width: 100%;
    height: 600px;
    background-color: yellow;
}
div.parent_div1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
div.child_div1{
    background-color: blue;
    margin: 1em;
}

div.parent_div2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}
div.child_div2{
    background-color: blue;
    margin: 1em;
}

div.parent_div3{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}
div.child_div3{
    background-color: blue;
    margin: 1em 7em;
}
img{
    margin: 2em;
}
.white{
    color: white;
}

@media screen and (max-width:768px) {
    .main_div{
        grid-template-columns: 1fr  ;
    }

}